[Desktop Entry]
Name=PyCharm Community Edition
GenericName=The intelligent Python IDE
Exec=pycharm-community
Terminal=false
Icon=pycharm-community
Type=Application
Categories=Development;IDE;
StartupWMClass=jetbrains-pycharm-ce
MimeType=text/plain;application/x-python-code;text/x-python;application/xml;text/markdown;
