[Desktop Entry]
Name=PyCharm Community Edition
GenericName=PyCharm Community Edition - The intelligent Python IDE
Exec=pycharm
Terminal=false
Icon=pycharm
Type=Application
Categories=Development;
StartupWMClass=jetbrains-pycharm-ce
MimeType=text/plain;application/x-python-code;text/x-python;application/xml;text/markdown;
